@mixin transition($property) {
  -webkit-transition: $property;
  -moz-transition: $property;
  -o-transition: $property;
  transition: $property;
}

@mixin shadow($x, $y, $color: $shadow-color) {
  box-shadow: 0.05rem $x $y $color;
}

@mixin smooth-transition() {
  @include transition(all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95));
}

@mixin soft-shadow($color: $shadow-color) {
  @include shadow(0.45rem, 0.45rem, $color);
}

@mixin small-shadow() {
  @include shadow(0.1rem, 0.2rem, rgba(#5b5b5b, 0.1));
}

@mixin hover-shadow($color: $shadow-color) {
  @include small-shadow();

  &:hover {
    @include soft-shadow($color);
  }
}

@mixin round-border($radius: 0.4rem) {
  border-radius: $radius;
}
