$light: #fafafa;
$bg-color: #fff;
$transparent: rgba(#fff, 0);


$p-red: #d67070;
$p-blue: #6AB8FF;
$p-yellow: yellow;
$p-grey: #5b5b5b;


$accent-color: $p-red;
$second-color: $p-blue;

$success: #7aebb6;
$almost: #ffa652;
$failure: #ff5252;

$shadow-color: rgba($accent-color, 0.1);
$main-gradient: linear-gradient(135deg, $accent-color 0%, rgba($accent-color, 0.75) 100%);
$second-gradient: linear-gradient(135deg, $second-color 0%, rgba($second-color, 0.75) 100%);
