$light: #fafafa;
$bg-color: $light;
$transparent: rgba(#fff, 0);
$accent-color: #d67070;
$second-color: #6AB8FF;

$success: #7aebb6;
$almost: #ffa652;
$failure: #ff5252;


$shadow-color: rgba($accent-color, 0.2);
$main-gradient: linear-gradient(135deg, $accent-color 0%, rgba($accent-color, 0.75) 100%);
