@import 'variables';
@import 'mixins';
@import 'custom-bootstrap';

body {
  position: relative;
  margin: auto;
  font-size: 16px;
  padding: 0;
  font-family: 'Inter', Helvetica, Arial, sans-serif;
  background-color: $light !important;
  color: $dark;
}

a {
  @include smooth-transition();
}

div {
  @include round-border();

  .row {
    @extend .mx-0;
  }
}

footer {
  margin: 5rem 0;
  text-align: center;
  color: $primary;
}


/* ID Styles */

#puzzle-display {
  @include smooth-transition();
  @include hover-shadow();
}

#puzzle-description {
  @extend .pt-4, .pl-4, .pb-2;
  @include small-shadow();
  z-index: 2;
  background-color: $white;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;

  h5 {
    font-weight: 500;
  }

  p {
    font-weight: 300;
  }
}

#puzzle-image {
  @extend .px-0;
  background: $main-gradient;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;

  img {
    @extend .my-0, .h-auto, .w-auto;
  }
}

#puzzle-question-container {
  @extend .mt-3;

  button[type=submit] {
    @extend .mt-3;
  }
}

#puzzle-question {
  @extend .text-center;
  @include hover-shadow();
  background: $main-gradient;

  h6 {
    @extend .mb-0, .p-3, .pl-2;
  }

  p {
    @extend .my-0, .p-0;
  }
}

#puzzle-answer-options {
  @extend .row, .mt-3;

  div.answer-option {
    @extend .col, .p-3;
    @include smooth-transition();
    @include hover-shadow();
    cursor: pointer;
    border: double 0.08rem transparent;
    background-image: linear-gradient($white, $white), $main-gradient;
    background-origin: border-box;
    background-clip: padding-box, border-box;
    padding-left: 2.5rem !important;

    &:hover {
      background-image: linear-gradient($secondary, $secondary), linear-gradient($transparent, $transparent);
    }

    // hovering over the label or checkbox itself shouldn't revert the cursor
    input, label {
      cursor: pointer;
    }
  }

  div.answer-option.selected {
    color: $light;
    background-image: $main-gradient, linear-gradient($transparent, $transparent);
  }
}

@include media-breakpoint-down(md) {
  #puzzle-description {
    @include round-border();
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  #puzzle-image {
    @include round-border();
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
  #puzzle-question-container {
    text-align: center;
  }
  #puzzle-answer-options {
    flex-direction: column !important;

    div.answer-option {
      margin-left: 0 !important;
      margin-top: 1rem;
    }
  }
  #puzzle-display {
    flex-direction: column !important;

    #puzzle-description, #puzzle-image {
      max-width: 100%;
    }
  }
}



