@import 'variables';
@import 'mixins';
@import 'custom-bootstrap';

body {
  position: relative;
  margin: auto;
  font-size: 16px;
  padding: 0;
  font-family: 'Inter', Helvetica, Arial, sans-serif;
  background-color: $white !important;
  color: $dark;
  opacity: 100%;

}

a {
  @include smooth-transition();
}

div {
  @include round-border();

  .row {
    @extend .mx-0;
  }
}

footer {
  @extend .mb-4;
  text-align: center;
  margin-top: 8rem;
}


/* ID Styles */

#puzzle-display {
  @include smooth-transition();
  @include hover-shadow();
}

#puzzle-description {
  @extend .py-3, .px-4;
  @include small-shadow();
  z-index: 2;
  background-color: $white;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;

  h5 {
    font-weight: 500;
  }

  p {
    font-weight: 300;
  }
}

#puzzle-image {
  @extend .px-0;
  background: $transparent;

  img {
    @extend .my-0, .h-auto, .w-auto;
    @include round-border();
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }
}

#puzzle-question-container {
  @extend .mt-3;

  button[type=submit] {
    @extend .mt-1;
  }
}

#puzzle-feedback {
  @extend .text-center;

  .gif-embed {
    border-left: 0.6rem solid;
    border-right: 0.6rem solid;
    border-radius: 0.2rem;
    height: 15rem;
    width: auto;
  }

  .gif-embed-correct {
    border-color: $success;
  }

  .gif-embed-almost {
    border-color: $orange;
  }

  .gif-embed-incorrect {
    border-color: $red;
  }
}

#puzzle-question {
  @extend .text-center;
  @include smooth-transition();

  h6 {
    @extend .mb-0, .p-3, .pl-2;
  }

  p {
    @extend .my-0, .p-0;
  }
}

#puzzle-answer-options {
  @extend .row, .my-2;

  div.answer-option {
    @extend .col, .p-3, .border;
    @include smooth-transition();
    @include hover-shadow();
    cursor: pointer;
    background-color: $bg-color;
    border-color: $p-grey !important;
    padding-left: 2.5rem !important;

    &:hover {
      border-color: $accent-color !important;
    }

    // hovering over the label or checkbox itself shouldn't revert the cursor
    input, label {
      cursor: pointer;
    }
  }

  div.answer-option.selected {
    color: $light;
    border-color: $light !important;
    background-image: $main-gradient, linear-gradient($transparent, $transparent);
    &:hover {
      border-color: $light !important;
    }
  }
}

#puzzles-drawer {
  @extend .d-flex, .flex-column;

  div.puzzle-display {
    @extend .mb-3;

    &:hover {
      cursor: pointer;
    }
  }
}


/* Breakpoints */

@include media-breakpoint-down(sm) {
  .map-image {
    height: auto !important;
    width: 100%;
  }
}

@include media-breakpoint-down(md) {
  .header-group {
    .header-content {
      display: block;
      text-align: center !important;

      #page-heading {
        margin-left: 0 !important;
      }
    }
  }

  #puzzle-description, .puzzle-description {
    @include round-border();
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  #puzzle-image, .puzzle-image {
    img {
      @include round-border();
      border-top-right-radius: 0;
      border-top-left-radius: 0;
    }
  }
  #puzzle-question-container {
    text-align: center;
  }

  #puzzle-feedback {
    img.gif-embed {
      width: 65%;
      height: auto;
    }
  }

  #puzzle-answer-options {
    flex-direction: column !important;

    div.answer-option {
      margin-left: 0 !important;
      margin-top: 1rem;
    }
  }
  #puzzle-display, .puzzle-display {
    flex-direction: column !important;

    #puzzle-description, #puzzle-image {
      max-width: 100%;
    }
  }
}


/* Class Styles */

.headline-text {
  @extend .h1, .text-center, .vh-100, .w-100;
  color: $accent-color;
}

.puzzle-display {
  @include smooth-transition();
  @include hover-shadow();
  border: 0.1rem solid $accent-color;

  .puzzle-description {
    @extend #puzzle-description;
    @include round-border();
  }

  .puzzle-image {
    @extend #puzzle-image;
  }
}

.puzzle-display.selected {
  .puzzle-description {
    background-color: $transparent;
  }
  background-color: $accent-color;
  color: $light !important;
}

.content-section {
  @extend .my-4, .px-4;

  h2, h3 {
    @extend .thick-underline;
  }

  div > img {
    width: 100%;
  }
}

/* Purely Style */

div.pattern {
  z-index: -1;
  position: fixed;
  top: 0;
  opacity: 0.15;
  background-image: radial-gradient($p-grey 1px, transparent 1px), radial-gradient($dark 1px, transparent 1px);
  background-size: 40px 40px;
  background-position: 0 0, 20px 20px;
}

.header-group {
  #header-bar {
    height: 0.5rem;

    div {
      border-radius: 0;
    }
  }
}

.thick-underline {
  text-decoration: underline;
  text-decoration-color: $accent-color;
  text-decoration-thickness: 0.2rem;
}

.header-group.content-section {
  @extend .mb-0;
}

.white-block {
  background-color: $light;
}

.bg-block {
  background-color: $bg-color;
}

.red-block {
  background-color: $p-red;
}

.blue-block {
  background-color: $p-blue;
}

.yellow-block {
  background-color: $p-yellow;
}

.logo-image {
  max-width: 3rem !important;
  max-height: 3rem !important;
}

.border-accent {
  border-color: $accent-color !important;
}

.map-image {
  @include smooth-transition();
  @include round-border();
  @include hover-shadow(rgba($p-grey, 0.15));

  height: 25rem;
}
